<%- include('partials/head')%>

<%- include('partials/navbar')%>
<div class="container py-1">
    <h1>welcome to the <%= category.toUpperCase() %> blog category</h1>
    <div class="row text-center">
        <%if(thePosts){
            console.log(thePosts);%>
            <% for(let elt of thePosts){
                console.log(elt)%>
                <div class ="card py-1">
                    <div class="card-body">
                        <h1 class="card-header"><a href="post/<%=elt.title%>"><%=elt.title%></a></h1>
                        <h2 class="card-title"><%=elt.name%> </h2>
                        <h3 class="card-subtitle mb-2 text-body-secondary"><%=elt.date%></h3>
                        <p class="card-text text-start text-md-center m-0"><%= elt.content.substr(0,100) %>...</p>
                    </div>
                    <div class="card-footer">
                        <a href="/post/<%=elt.title%>" class="btn btn-primary">Go on <%=elt.title%></a>
                        <a href="/category/<%=elt.category%>" class="btn btn-outline-secondary"> Go on <%=elt.category%> category</a>
                        <a href="/%>" class="btn btn-dark"> Go index Page</a>
                    </div>
                </div>
                <hr>
            <%}%>
        <%}%>
            
    </div>
</div>

<%- include('partials/footer')%>