<%- include('../../partials/head')%>
<%- include('../../partials/navbar')%>
    <div class="container py-2 formweather">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="h1 text-center">What the weather in ....</h1>
                <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
                    <div class="col-lg-10 px-0 mx-auto">
                      <h1 class="display-6 fst-italic">A simply API to know weather</h1>
                      <h6 class ="h6 text-center">API with a key </h6>
                      <p class="lead my-3">
                        A api based on "openweather.co". We use also "restcountires.com" api to know the iso-3166. And after we send a request to openweather api, this one, will use possibility of resuest with zip code or without zip code. </p>
                      <p class="lead">
                        This exercice is done with <a href="http://https://www.udemy.com/course/the-complete-web-development-bootcamp/learn/lecture/38892394#overview" target="_blank">Lucy Angela teacher on udemy, lecon=> api capstone project.</a>  
                      </p>
                    </div>
                </div>
                <h3 class="h4 text-center">(Select a city in the form or a zip code)</h3>
                <form action="/api/openweathermap" method="post" >
                    <div class="row">
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="ville" name="ville" placeholder="Ville" value="paris">
                            <label for="ville">Ville</label>
                        </div>
            
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="codepostal" name="codepostal" placeholder="Code Postal">
                            <label for="codepostal">Code Postal (more accuracy)</label>
                        </div>
                    </div>
        
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pays" name="pays" placeholder="Pays" required>
                        <label for="pays">Pays</label>
                    </div>
        
                    <div>
                        <button type="submit" class="btn btn-primary">get now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% if(locals.data){%>
       

        <div class="container opweather my-2 ");">
            <div class="row my-2 py-2 justify-content-center">
                <h1>Hello weather world</h1>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center">
                            La météo maintenant à <br><b><%= data.name %></b>
                        </div>
                        <div class="card-body bg.light cardBG">

                            <blockquote class="blockquote mb-0 text-center">
                            <p>Actuellement dans la ville de <%= data.name%>(<%=data.sys.country%>), le ciel est :<br> <%= data.weather[0].description %> </p>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6">
                                        <table class="mx-auto">
                                            <tbody>
                                                <%for (let key in data.main ){%>
                                                <tr>
                                                    <td><%=key%></td>
                                                    <td><%=data.main[key]%></td>
                                                </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-6" style="background: white url('https://openweathermap.org/img/wn/<%= data.weather[0].icon %>@4x.png') no-repeat center;">
                                        <h4>actuellement</h4>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <footer class="blockquote-footer text-center mt-2"><b>GPS=></b>longitude:<%=data.coord.lon%> ; latitude:<%=data.coord.lat%></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<%- include('../../partials/footer')%>